---
layout: default
title: Home
---

<div class="message_of_the_day">
{% include extra-message.md %}
</div>
<br>
<div class="message_of_the_day">
{% include extra-message2.md %}
</div>

{% include corona-teaser.html %}
