---
layout: default
title: Home
---
<div class="warning">

<h2 class="master">Was Sie noch wissen sollten!</h2>

<h3 class="master">Sie verreisen ... </h3>

<table class="pic_box">
<tr><td class="pic_box">
<img  class="pic_box" src=/assets/images/travel.jpg>
</td>
<td class="pic_box">
Herr Plückelmann ist ausgebildeter Reisemediziner. Sprechen Sie uns für einen Termin an.
</td>
</tr></table>
<h4 class="master">Für die folgenden Konsultationen vereinbaren Sie bitte einen Termin : </h4>
<ul>
<li>Reisemedizin
<li>Hautkrebsscreening
<li>Krebsvorsorge für Männer
<li>Vorsorge für Jugendliche (12 - 14 Jahre)
<li>EKG und Lungenfunktion
<li>Laboruntersuchungen
<li>24 Stunden Blutdruckmessung
</ul>
<h4 class="master">Und dann noch</h4>
<ul>
<li>Sollten Hausbesuche medizinisch erforderlich sein, melden Sie diese bitte bis 12:00 an.
<li>Ausserhalb der Sprechstunden wenden Sie sich bitte an den Ärztlichen Notdienst unter 040-116117.
</ul>
 
</div>