<div class="warning">
<div class="special">
Corvid-19 Informationen
</div>
<br>
<br>
Liebe Patientinnen, liebe Patienten,<br>
<br>

<div> Aufgrund des Covid-19 Ausbruches sind wir aus Sicherheitsgründen leider nicht mehr in der Lage unsere Akutsprechstunde anzubieten. Bitte besorgen Sie sich unbedingt telefonisch einen Termin.
<ul>
<li>Rezepte und Überweisungen können Sie weiterhin, ohne Termin, in der Praxis abholen.
<li>AUs können Sie symtomabhängig und ohne Arztbesuch telefonisch bei uns beantragen. Das kann sich jedoch, je nach Gesetzeslage ändern.
<li>Noch eine Bitte: Um die Anzahl der Kontakte zwischen Patienten/Innen so gering wie mögich zu halten, seien Sie bitte pünktlich. Kommen Sie bitte nicht viel zu früh in die Praxis.
<li style="color:black">Sollten Sie Symptome haben, die auf eine Covid-19 Infektion schliessen lassen, wie 
  <ul>
     <li>Luftnot
     <li>hohes Fieber
     <li>schweres Krankheitsgefühl
     <li>trockenen Husten
  </ul>
wenden Sie sich bitte unter 116117 an den KV-Notdienst.</li>
<br>
<br>
Weiterführende Informationen zum Thema "Covid-19" finden Sie auf den folgenden Seiten
<ul>
 <li><a class="important_link" href="https://www.aerztekammer-hamburg.org/home.html">Ärtzekammer Hamburg</a>
 <li><a class="important_link" href="http://rki.de">Robert Koch Institut</a>
 <li><a class="important_link" href="http://www.jhu.edu">Johns Hopkins Universität</a>
 <li>und der <a class="important_link" href="http://who.int">Weltgesundheitsorganisation, WHO</a>
</div>