<div class="address_info">

Hans Günter Plückelmann<br>
Praktischer Arzt<br>
<br>
Dr. Axel Sommer<br>
Tropenmediziner<br>
<br>
<br>

Steenwisch 105<br>
22527 Hamburg<br>
<br>
Tel: (040) 4914437<br>
Fax: (040) 4904335<br>
<br>
<br>

Öffnungszeiten<br>
(Termine nur nach Vereinbarung)<br>
<br>
<div class="timetable">
<table class="timetable">
<tr><td colspan=2>Montag</td></tr> 
<tr><td class="timetable">8:30 - 12:00</td></tr><tr><td class="timetable">16:00 - 18:00</td></tr>
<tr><td colspan=2>Dienstag</td></tr> 
<tr><td class="timetable">8:30 - 12:00</td></tr><tr><td class="timetable">16:00 - 18:00</td></tr>
<tr><td colspan=2>Mittag</td></tr> 
<tr><td class="timetable">8:30 - 12:00</td></tr>
<tr><td colspan=2>Donnerstag</td></tr> 
<tr><td class="timetable">8:30 - 12:00</td></tr><tr><td class="timetable">16:00 - 18:00</td></tr>
<tr><td colspan=2>Freitag</td></tr> 
<tr><td class="timetable">8:30 - 11:00</td></tr>
</table>
</div>
<hr>
Der Arzt spricht auch Spanisch und Englisch.
</div>