---
short_name: katrin
name: Katrin Stepbach
position: Praxismanagerin
picture: /assets/images/girl-2373489_640.png
---
<ul>
<li>Frau Stepbach ist die Praxismanagerin. 
<li>Sie ist MFA und zertifizierte Impfassistentin.
</ul>